@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.hero-section {
  background-image: url("images/developer.png");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text-container {
  color: white;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 44px;
  padding-left: 60px;
}
.lg-text {
  font-size: 50px;
  font-weight: 400;
}
.black-box {
  background-color: black;
  padding: 20px;
}
.black-box h2 {
  font-size: 72px;
  color: white;
  text-align: center;
  font-weight: 300;
}
.black-box h2 span {
  font-weight: 450;
  font-size: 96px;
}
.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  /* margin: 20px 0; */
  max-width: 1100px;
  margin: 50px auto;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  max-width: 320px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background: #fff;
  transition:0.3s ease-in-out;
}
.image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.card-container {
  padding: 16px;
}
.card-container h3 {
  margin-bottom: 8px;
  text-transform: capitalize;
}
.card-container p {
  color: #444;
  font-size: 14px;
  line-height: 1.5;
}
.card:hover{
    transform: scale(1.04);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.14);
  transition:0.3s ease-in-out;
}

.card-content{
    padding: 20px;
}
.card-content h3{
    margin-bottom: 10px;
}
.bottom-section{
    display: flex;

}
.contact{
    background-color: #515603;
}
.about{
    background-color: #722300;
}
.contact, .about{
    color: white;
   min-height: 300px;
    padding: 32px;
    text-align: center;
    flex: 1;
}
.contact p , .about p{
    margin-bottom: 20px;
}
.contact h2 , .about h2{
    margin-bottom: 16px;
    font-size: 50px;
}

footer {
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  padding: 20px;
  color: white;
}
@media (max-width: 786px) {
  .hero_section {
    min-height: 50vh;
  }
  .text_container {
    padding: 10px 0;
    text-align: center;
  }
  .lg_text {
    font-size: 32px;
  }
  .black_box h2 {
    font-size: 24px;
  }
  .black_box h2 span {
    font-weight: 400;
    font-size: 32px;
  }
  .bottom_section {
    flex-direction: column;
  }
  h1 {
    font-size: 32px;
  }
  .about h2,
  .contact h2 {
    font-size: 32px;
  }
}